.posts {
  padding: 20px;
}
.post-title {
  font-size: 30px;
  font-family: "Lucida Console", Courier, monospace;
}
.post-body {
  font-size: 15px;
  font-family: "Lucida Console", Courier, monospace;
}
.post-show {
  text-align: center;
}
