
.new-post-main-div {
  width: 900px;
  height: 400px;
  display: block ;
  margin-top: -30px;
  margin: 0 auto 0 auto;
  border-left: 1px dashed black;
  border-right: 1px dashed black;


}
.new-post-header {
  margin: 0 auto 0 auto;
  width: 800px;
  font-family: "Lucida Console", Courier, monospace;
}
.new-post-form {
  margin: 50px;
  width: 800px;
}
