// .comments-body {
//   float: left;
//   width: 100px;
// }
.show-link {
  float: right;
  width: 200px;
}
.post-show {
  font-family: "Lucida Console", Courier, monospace;
  float: left;
  margin-left: 50px;
  padding-top: 10px;
}
.show-post-title {
  margin-left: 15px;
  font-size: 15px;
  font-family: "Lucida Console", Courier, monospace;
  width: 400px;
}
