// .comments-body {
//   float: left;
//   width: 100px;
// }
.show-link {
  float: right;
  width: 200px;
}
.post-show {
  margin: 0;
  padding: 20px;
}
.show-post-title {
  font-size: 15px;
  font-family: "Lucida Console", Courier, monospace;
  width: 400px;
}
