// @import bourbon

.nav-bar {
  font-family: verdana;
  text-shadow: #444 3px 3px;
  margin: 0;
  height: 50px;
  text-align: center;
}
.logo {
  font-size: 40px;
  padding-left: 30px;
  text-decoration: none;
  color: #FFF;
}
.posts-border {
  border-left: 1px solid black;

}
.top-border {

}
