// @import bourbon
body {
  font-family: $verdana;
  background-color: #fcfcfd;
  margin: 0;
}
.nav-bar {
  font-family: verdana;
  text-shadow: #444 3px 3px;
  margin: 0;
  height: 50px;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}
.logo {
  font-size: 50px;
  padding-left: 30px;
  text-decoration: none;
  color: #FFF;
}
.left-nav {
  position: fixed;
  width: 150px;
  margin-top: 30px;
}
.posts-border {
  border-left: 1px solid black;
}
.top-border {
}
.site-link {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 15px;
  border: 1px solid black;
}
.left-nav-element {
  font-size: 40px;
  text-decoration: none;
  text-transform: lowercase;
  color: #999;
}
