<div class="form-container">
  <%= form_for @category  do |f| %>
    <div>
      <%= f.label :title, :class => "form" %>
    </div>
    <div>
      <%= f.text_area :title, :class => "form" %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
