<div>
  <%= form_for @category  do |f| %>
    <div>
      <%= f.label :title %>
    </div>
    <div>
      <%= f.text_area :title %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
